@import "~materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

.float-btn {
  visibility: hidden;
}

.tap-target-wrapper.open .float-btn {
  visibility: visible;
}

.tap-target-content {
  width: 300px;
}

.skeleton-image-path {
  fill: #bfbfbf;
}

.modal {
  max-height: 80% !important;
}

.cursor-pointer {
  cursor: pointer;
}

h4 {
  font-size: 2rem;
}

.content {
  padding: 0 15px;
}

span.badge.new:after {
  content: none;
}

.datepicker-modal {
  height: 100% !important;

  .datepicker-container {
    height: 100% !important;

    .datepicker-calendar-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
