<div class="menu-hamburger">
  <a class="sidenav-trigger d-flex d-md-none" (click)="openSidenav()"><i class="material-icons">menu</i></a>
</div>
<div class="sidenav sidenav-fixed a-sidenav d-none d-md-flex flex-column">
  <h4>CRM</h4>

  <ul class="right">
<!--    <li><div class="user-view" style="height: 176px;">-->
<!--      <div class="background">-->
<!--        <img src="images/office.jpg">-->
<!--      </div>-->
<!--      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>-->
<!--      <a href="#name"><span class="white-text name">John Doe</span></a>-->
<!--      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>-->
<!--    </div></li>-->
    <li><div class="divider"></div></li>
    <li *ngFor="let link of listLinks" class="bold" routerLinkActive="active">
      <a [routerLink]="[link.url]" class="waves-effect waves-orange">
        {{ link.name }}
      </a>
    </li>
  </ul>

  <li class="bold last">
    <a class="waves-effect waves-orange" (click)="logout($event)"> Выйти </a>
  </li>
</div>

<ul class="sidenav" id="mobile-sidenav" #sidenav>
  <h4>CRM</h4>

  <ul class="right">
    <li *ngFor="let link of listLinks" class="bold" routerLinkActive="active" (click)="closeSidenav()">
      <a [routerLink]="[link.url]" class="waves-effect waves-orange">
        {{ link.name }}
      </a>
    </li>
  </ul>

  <li class="bold last">
    <a class="waves-effect waves-orange" (click)="logout($event)"> Выйти </a>
  </li>
</ul>

<main class="content">
  <router-outlet></router-outlet>
</main>

<div class="fixed-action-btn" #floatingButton>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green" routerLink="/order">
        <i class="material-icons">assignment</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue" routerLink="/categories/new">
        <i class="material-icons">list</i>
      </a>
    </li>
  </ul>
</div>

<a id="menu" class="waves-effect waves-light btn btn-floating float-btn"><i class="material-icons">info</i></a>
