<div class="page-title">
  <h4>
    <a routerLink="/categories">
      Категории
    </a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{ isNew ? 'Создать' : 'Редактировать' }} категорию
  </h4>
  <span>
    <button class="btn btn-small red"
            (click)="deleteCategory()"
            *ngIf="!isNew">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<div class="row">
  <form class="col s12 l6"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <div class="input-field">
      <input id="name" type="text" formControlName="name"
             [class.invalid]="form.get('name').invalid && form.get('name').touched">
      <label for="name">
        Название
      </label>
      <span class="helper-text red-text"
            *ngIf="form.get('name').invalid && form.get('name').touched">
        <span *ngIf="form.get('name').hasError('required')">
          Имя категории не может быть пустым
        </span>
      </span>
    </div>

    <div>
      <input type="file" style="display: none"
             #inputFile
             (change)="onFileUpload($event)">
      <button class="waves-effect waves-light btn orange lighten-2 mb2" type="button"
              (click)="uploadFile()"
              [disabled]="form.invalid || form.disabled">
        <i class="material-icons left">backup</i>
        {{ isNew ? 'Загрузить' : 'Изменить' }} изображение
      </button>
    </div>

    <div>
      <button class="waves-effect waves-light btn" type="submit"
              [disabled]="form.invalid || form.disabled">
        Сохранить изменения
      </button>
    </div>
  </form>

  <div class="col s12 l4 center">
    <img class="responsive-img" style="height: 200px"
         *ngIf="categoryImagePreview" [src]="categoryImagePreview">
    <div *ngIf="!categoryImagePreview" style="margin: 0 auto;">
      <svg viewBox="0 0 1098 1024" xmlns="http://www.w3.org/2000/svg"
           class="ant-skeleton-image-svg">
        <path
          d="M365.714286 329.142857q0 45.714286-32.036571 77.677714t-77.677714 32.036571-77.677714-32.036571-32.036571-77.677714 32.036571-77.677714 77.677714-32.036571 77.677714 32.036571 32.036571 77.677714zM950.857143 548.571429l0 256-804.571429 0 0-109.714286 182.857143-182.857143 91.428571 91.428571 292.571429-292.571429zM1005.714286 146.285714l-914.285714 0q-7.460571 0-12.873143 5.412571t-5.412571 12.873143l0 694.857143q0 7.460571 5.412571 12.873143t12.873143 5.412571l914.285714 0q7.460571 0 12.873143-5.412571t5.412571-12.873143l0-694.857143q0-7.460571-5.412571-12.873143t-12.873143-5.412571zM1097.142857 164.571429l0 694.857143q0 37.741714-26.843429 64.585143t-64.585143 26.843429l-914.285714 0q-37.741714 0-64.585143-26.843429t-26.843429-64.585143l0-694.857143q0-37.741714 26.843429-64.585143t64.585143-26.843429l914.285714 0q37.741714 0 64.585143 26.843429t26.843429 64.585143z"
          class="skeleton-image-path"></path>
      </svg>
    </div>
  </div>
</div>

<app-positions-form [categoryId]="category?._id" *ngIf="category?._id">
</app-positions-form>

<div class="modal" #largeFileWarning>
  <div class="modal-content">
    <h4>Предупреждение</h4>
    <p>Загруженная картинка большого размера. Если её оставить, страницы категории и заказа могут загружаться медленее.</p>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat">Понятно...</button>
  </div>
</div>
