<form class="card w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card-content">
    <span class="card-title">
      Регистрация
    </span>
    <div class="input-field">
      <input id="name" formControlName="name" type="text"
             [class.invalid]="form.get('name').invalid && form.get('name').touched">
      <label for="name">
        Имя:
      </label>
      <span *ngIf="form.get('name').invalid && form.get('name').touched"
            class="helper-text red-text">
        <span *ngIf="form.get('name').hasError('required')">
          Имя обязательно
        </span>
      </span>
    </div>
    <div class="input-field">
      <input id="surname" formControlName="surname" type="text"
             [class.invalid]="form.get('surname').invalid && form.get('surname').touched">
      <label for="surname">
        Фамилия:
      </label>
      <span *ngIf="form.get('surname').invalid && form.get('surname').touched"
            class="helper-text red-text">
        <span *ngIf="form.get('surname').hasError('required')">
          Фамилия обязательна
        </span>
      </span>
    </div>
<!--    <div class="input-field">-->
<!--      <input formControlName="email" id="email" type="email"-->
<!--             [class.invalid]="form.get('email').invalid && form.get('email').touched">-->
<!--      <label for="email">-->
<!--        Email:-->
<!--      </label>-->
<!--      <span *ngIf="form.get('email').invalid && form.get('email').touched"-->
<!--            class="helper-text red-text">-->
<!--        <span *ngIf="form.get('email').hasError('email')">-->
<!--          Введите корректный email адрес-->
<!--        </span>-->
<!--      </span>-->
<!--    </div>-->
    <div class="input-field">
      <input formControlName="password" id="password" type="password">
      <label for="password" [class.invalid]="form.get('password').invalid && form.get('password').touched">
        Пароль:
      </label>
      <span *ngIf="form.get('password').invalid && form.get('password').touched"
            class="helper-text red-text">
        <span *ngIf="form.get('password').hasError('required')">
          Введите пароль
        </span>
        <span
          *ngIf="form.get('password').hasError('minlength') &&
          form.get('password').errors['minlength']['requiredLength']">
            Пароль должен быть больше {{ form.get('password').errors['minlength']['requiredLength'] }}
          символов. Сейчас: {{ form.get('password').errors['minlength']['actualLength'] }}
        </span>
      </span>
    </div>
  </div>
  <div class="card-action">
    <button type="submit" class="modal-action btn waves-effect w-100"
            [disabled]="form.invalid || form.disabled">
      Зарегистрироваться
    </button>
  </div>
</form>
