<div class="page-title">
  <div class="row w-100">
    <div class="col-12 col-sm-auto">
      <h4>Категории</h4>
    </div>
    <div class="col-12 mt-4 mt-sm-0 col-sm-auto">
      <button class="waves-effect waves-light btn grey darken-1" routerLink="/categories/new">
        Добавить категорию
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="categories$ | async as categories; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="categories.length; else empty">
      <a *ngFor="let category of categories"
         [routerLink]="['/categories', category._id]"
         class="collection-item">
        {{ category.name }}
      </a>
    </div>
  </div>

  <ng-template #empty>
    <div class="center">
      Вы пока не добавили категории...
    </div>
  </ng-template>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
