<div class="page-title">
  <h4>История заказов</h4>
  <button class="btn btn-small"
          [class.active]="isFilterVisible"
          [class.red]="isFiltered()"
          (click)="isFilterVisible = !isFilterVisible">
    <i class="material-icons">search</i>
  </button>
</div>

<app-history-filter *ngIf="isFilterVisible"
                    (onFilter)="applyFilter($event)">
</app-history-filter>

<ng-container *ngIf="!reloading; else reloadingBlock">
  <ng-container *ngIf="orders.length > 0; else empty">
    <app-history-list [orders]="orders"></app-history-list>

    <div class="center mb2" *ngIf="!noMoreOrders">
      <button class="btn waves-effect grey darken-1 btn-small"
              *ngIf="!loading; else loader"
              (click)="loadMore()">
        Загрузить еще
      </button>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #empty>
    <div class="center">
      Заказов пока нет...
    </div>
  </ng-template>

</ng-container>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
