<div class="page-title">
  <h4>История заказов</h4>
  <button class="btn btn-small" data-tooltip="Открыть фильтр" data-position="left"
          #tooltip
          [class.active]="isFilterVisible"
          (click)="isFilterVisible = !isFilterVisible">
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter *ngIf="isFilterVisible"></app-history-filter>

<ng-container *ngIf="!reloading; else reloadingBlock">
  <ng-container *ngIf="orders.length > 0; else empty">
    <app-history-list [orders]="orders"></app-history-list>

    <div class="center mb2" *ngIf="!noMoreOrders">
      <button class="btn waves-effect grey darken-1 btn-small"
              *ngIf="!loading; else loader"
              (click)="loadMore()">
        Загрузить еще
      </button>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #empty>
    <app-loader></app-loader>
  </ng-template>

</ng-container>

<ng-template #reloadingBlock>
  <div class="center">
    ЗАказов пока нет...
  </div>
</ng-template>
