<div class="page-title">
  <div class="row w-100 justify-content-between">

    <div class="col col-sm-6">
      <h4>База клиентов</h4>
    </div>

    <div class="col-auto mt-4 mt-sm-0 col-sm-6">
      <div class="header-btn d-flex justify-content-between justify-content-sm-end">
        <button class="waves-effect btn grey darken-1" (click)="openAddClientModal()">
          Добавить клиента
        </button>
        <button class="btn btn-small"
                [class.active]="isFilterVisible"
                [class.red]="isFiltered()"
                (click)="isFilterVisible = !isFilterVisible">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>

  </div>
</div>

<app-clients-filter *ngIf="isFilterVisible"
                    (applyFilter)="applyFilter($event)">
</app-clients-filter>

<ng-container *ngIf="!reloading; else reloadingBlock">

  <ng-container *ngIf="clients.length > 0; else empty">

    <app-clients-list [clients]="clients"></app-clients-list>

    <div class="center mb2" *ngIf="!noMoreClients">
      <button class="btn waves-effect grey darken-1 btn-small"
              *ngIf="!loading; else loader"
              (click)="loadMore()">
        Загрузить еще
      </button>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>

  </ng-container>

  <ng-template #empty>
    <app-loader></app-loader>
  </ng-template>

</ng-container>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>

<div class="modal" #addClientModal>
  <div class="modal-content">
    <h4>Добавление нового клиента</h4>
    <form [formGroup]="form" class="mt-4">
      <div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate" formControlName="name">
          <label for="name">Имя</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="surname" type="text" class="validate" formControlName="surname">
          <label for="surname">Фамилия</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="lastname" type="text" class="validate" formControlName="lastname">
          <label for="lastname">Отчество</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="phone" type="tel" class="validate" formControlName="phone">
          <label for="phone">Телефон</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" formControlName="email">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-green btn-flat" type="button">
      Отмена
    </button>
    <button class="waves-effect waves-green btn-small" type="submit"
            [disabled]="form.invalid || form.disabled"
            (click)="createClient()">
      Добавить
    </button>
  </div>
</div>
