<nav>
  <div class="d-flex justify-content-between nav-wrapper grey darken-1">
    <a routerLink="/" class="brand-logo position-static">
      CRM
    </a>
    <ul class="right d-flex">
      <li routerLinkActive="active">
        <a routerLink="login">Вход</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="register">Регистрация</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6">

      <div class="auth-block w-100">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
