<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">

      <div class="table">
        <table class="highlight mb2">
          <thead>
          <tr>
            <th>№</th>
            <th>Имя</th>
            <th class="d-none d-sm-table-cell">Телефон</th>
            <th class="d-table-cell d-sm-none">Тел.</th>
            <th class="d-none d-sm-table-cell">Дата регистрации</th>
            <th class="d-table-cell d-sm-none">Дата</th>
            <th>Заказы клиента</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.order }}</td>
            <td>
              <a class="client cursor-pointer" (click)="openEditClientModal(client)">
                {{ client.name + ' ' + client.surname }}
              </a>
            </td>
            <td><a href="tel:{{ client.phone }}">{{ client.phone }}</a></td>
            <td class="d-none d-sm-table-cell">{{ client.date | date:'dd.MM.yyyy HH:mm' }}</td>
            <td class="d-table-cell d-sm-none">{{ client.date | date:'dd.MM.yy' }}</td>
            <td>
              <button class="btn btn-small grey darken-1" (click)="openClientOrdersModal(client)">
                <i class="material-icons">open_in_new</i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<div class="modal" #clientModal>
  <ng-container
    [ngTemplateOutlet]="editClientModal ? editModal : ordersClientModal ? ordersModal : null"></ng-container>
</div>

<ng-template #editModal>
  <div class="modal-content" *ngIf="editClientModal">
    <h4>Редактирование клиента</h4>
    <form [formGroup]="form" class="mt-4">
      <div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate" formControlName="name">
          <label for="name">Имя</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="surname" type="text" class="validate" formControlName="surname">
          <label for="surname">Фамилия</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="lastname" type="text" class="validate" formControlName="lastname">
          <label for="lastname">Отчество</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="tel" type="tel" class="validate" formControlName="phone">
          <label for="tel">Телефон</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" formControlName="email">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat" (click)="closeModals()">
      Закрыть
    </button>
    <button class="modal-action waves-effect waves-black btn" (click)="editClient()"
            [disabled]="form?.pristine || form?.invalid || form?.disabled">
      Редактировать
    </button>
  </div>
</ng-template>

<ng-template #ordersModal>
  <div class="modal-content" *ngIf="ordersClientModal">
    <h4 class="mb1">Заказы клиента <br>
      {{ selectedClient.name + ' ' + selectedClient.surname }}
    </h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>№</th>
        <th>Дата</th>
        <th>Цена</th>
      </tr>
      </thead>

      <tbody>
      <ng-container *ngFor="let order of selectedOrders">
        <tr *ngIf="order">
          <td>{{ order?.order }}</td>
          <td>{{ order?.date | date:'dd.MM.yyy HH:mm' }}</td>
          <td>{{ computeOrderPrice(order) }} ₽</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="order-summary">
      <p>Общая прибыль от клиента <strong> {{ computeSumOrdersPrices(selectedOrders) }} ₽</strong></p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat" (click)="closeModals()">
      Закрыть
    </button>
  </div>
</ng-template>
