<div class="page-title d-flex" xmlns="http://www.w3.org/1999/html">
  <div class="row justify-content-between w-100">
    <div class="col-12 col-md-auto">

      <h4 *ngIf="isRoot">
        Заказ
      </h4>

      <h4 *ngIf="!isRoot">
        <a routerLink="/order">Заказ</a>
        <i class="material-icons">keyboard_arrow_right</i>
        Добавить продукцию
      </h4>

    </div>

    <div class="col-12 col-md-auto ml-md-auto">
      <button class="waves-effect btn grey darken-1 mt-4 mt-md-0"
              (click)="open()">
        Создать заказ
      </button>
    </div>

  </div>
</div>

<router-outlet></router-outlet>

<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Новый заказ</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th class="d-none d-sm-table-cell">Название заказа</th>
        <th class="d-table-cell d-sm-none">Заказ</th>
        <th class="d-none d-sm-table-cell">Количество</th>
        <th class="d-table-cell d-sm-none">Кол-во</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>

      <tbody [formGroup]="orderForm">
      <tr *ngFor="let order of modalOrderService.list">
        <td>
          <div class="input-field inline order-position-input" style="margin-bottom: -12px;">
            <textarea class="materialize-textarea" formControlName="name">
            </textarea>
            <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched"
                  class="helper-text red-text">
              <span *ngIf="form.get('name')?.hasError('required')">
                Название заказа обязательно
              </span>

            </span>
          </div>
        </td>
        <td>
          <div class="input-field inline order-position-input">
            <input [value]="order.quantity" type="text" formControlName="quantity">
            <span *ngIf="form.get('quantity')?.invalid && form.get('quantity')?.touched"
                  class="helper-text red-text">
              <span *ngIf="form.get('quantity')?.hasError('required')">
                Введите количество
              </span>
            </span>
          </div>
        </td>
        <td>
          <div class="input-field inline order-position-input">
            <input [value]="order.cost" type="text" formControlName="cost">
            <span *ngIf="form.get('cost')?.invalid && form.get('cost')?.touched"
                  class="helper-text red-text">
              <span *ngIf="form.get('cost')?.hasError('required')">
                Цена заказа обязательна
              </span>
            </span>
          </div>
        </td>
        <td>
          <i class="material-icons pointer" (click)="removePosition(order)">delete</i>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p>
        Общая стоимость <strong>{{ modalOrderService.price }} ₽</strong>
      </p>
    </div>

    <div class="order-summary client">
      <p>
        Выберите клиента или создайте нового:
      </p>
    </div>
    <label>
      <input class="filled-in" type="checkbox" checked="checked" [(ngModel)]="isNewClient" (click)="updateFields()">
      <span>Новый клиент</span>
    </label>

    <div class="old-client" *ngIf="!isNewClient">
      <div class="input-field col s12 w-75">
        <i class="material-icons prefix">account_circle</i>
        <input type="text" id="autocomplete-input" class="autocomplete" #autocomplete>
        <label for="autocomplete-input">Клиенты из базы</label>
      </div>
      <!--      <div class="input-field col s12 w-75">-->
      <!--        <i class="material-icons prefix">account_circle</i>-->
      <!--        <select id="select" #select>-->
      <!--          <option *ngFor="let client of clients" [value]="client._id">-->
      <!--            {{ client.name + ' ' + client.surname }}, тел.: {{ client.phone }}-->
      <!--          </option>-->
      <!--        </select>-->
      <!--        <label for="select">Клиенты из базы</label>-->
      <!--      </div>-->
      <div class="input-field col s12 w-100">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="comment"></textarea>
        <label for="textarea2">Комментарий к заказу</label>
      </div>
    </div>

    <div class="new-client" *ngIf="isNewClient">
      <div class="order-summary client">
        <p>
          Данные клиента:
        </p>
      </div>
      <form [formGroup]="form">
        <div>
          <div class="input-field col s12 w-100">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" type="text" class="validate" formControlName="name"
                   [class.invalid]="form.get('name').invalid && form.get('name').touched">
            <label for="name">Имя</label>
            <span *ngIf="form.get('name').invalid && form.get('name').touched"
                  class="helper-text red-text">
            <span *ngIf="form.get('name').hasError('required')">
              Имя обязательно
            </span>
          </span>
          </div>
          <div class="input-field col s12 w-100">
            <i class="material-icons prefix">account_circle</i>
            <input id="surname" type="text" class="validate" formControlName="surname">
            <label for="surname">Фамилия</label>
          </div>
          <div class="input-field col s12 w-100">
            <i class="material-icons prefix">phone</i>
            <input id="tel" type="tel" formControlName="phone">
            <label for="tel">Телефон</label>
          </div>
          <div class="input-field col s12 w-100">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="textarea1" class="materialize-textarea" formControlName="comment"></textarea>
            <label for="textarea1">Комментарий к заказу</label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat" type="button"
            [disabled]="pending"
            (click)="cancel()">
      Отмена
    </button>
    <button class="modal-action btn waves-effect" type="submit"
            (click)="submit()"
            [disabled]="modalOrderService.list.length === 0 || !selectedClientId && form.invalid">
      Подтвердить
    </button>
  </div>
</div>
