<div class="page-title">
  <h4 *ngIf="isRoot">
    Заказ
  </h4>
  <h4 *ngIf="!isRoot">
    <a routerLink="/order">
      Заказ
    </a>
    <i class="material-icons">keyboard_arrow_right</i>
    Добавить продукцию
  </h4>
  <button class="waves-effect btn grey darken-1"
          (click)="open()"
          [disabled]="modalOrderService.list.length === 0">
    Завершить
  </button>
</div>

<router-outlet></router-outlet>

<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Ваш заказ</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of modalOrderService.list">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.cost }}</td>
        <td>
          <i class="material-icons pointer"
             (click)="removePosition(item)">delete</i>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p>
        Общая стоимость <strong>{{ modalOrderService.price }} руб.</strong>
      </p>
    </div>

    <label>
      <input type="checkbox" checked="checked" [(ngModel)]="isNewClient">
      <span>Новый клиент</span>
    </label>

    <div class="old-client" *ngIf="!isNewClient">
      <div class="order-summary client">
        <p>
          Выберите клиента:
        </p>
      </div>
      <div class="col s12">
        <label>Клиенты из базы</label>
        <select class="browser-default" #select [(ngModel)]="selectedClientId">
          <option [value]="client._id" *ngFor="let client of clients">
            {{ client.name + ' ' + client.surname }}, телефон: {{ client.phone }}
          </option>
        </select>
      </div>
    </div>

    <div class="new-client" *ngIf="isNewClient">
      <div class="order-summary client">
        <p>
          Данные клиента:
        </p>
      </div>
      <form [formGroup]="form">
        <div class="input-field inline order-position-input">
          <i class="material-icons prefix">account_circle</i>
          <input type="text" formControlName="name">
          <label>Имя</label>
        </div>
        <div class="input-field inline order-position-input">
          <input type="text" formControlName="surname">
          <label>Фамилия</label>
        </div>
        <div class="input-field order-position-input">
          <i class="material-icons prefix">phone</i>
          <input type="tel" formControlName="phone">
          <label>Телефон</label>
        </div>
        <div class="input-field order-position-input">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="textarea1" class="materialize-textarea" formControlName="comment"></textarea>
          <label for="textarea1">Комментарий</label>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat"
            [disabled]="pending"
            (click)="cancel()">
      Отмена
    </button>
    <button class="modal-action btn waves-effect"
            (click)="submit()"
            [disabled]="modalOrderService.list.length === 0 || pending">
      Подтвердить
    </button>
  </div>
</div>
