.order-summary {
  margin-bottom: 20px;
}

.order-summary.client {
  justify-content: start;
}

.input-field:not(:last-child) {
  width: 45%;
  margin-bottom: 20px;
}

.page-title h3, .page-title h4 {
  font-size: 1.6rem;
}
