<div class="page-title d-flex">
  <div class="row justify-content-between w-100">
    <div class="col-12 col-md-auto">

      <h4 *ngIf="isRoot">
        Новый заказ
      </h4>

      <h4 *ngIf="!isRoot">
        <a routerLink="/order">Заказ</a>
        <i class="material-icons">keyboard_arrow_right</i>
        Добавить в заказ
      </h4>

    </div>

    <div class="col-12 col-md-auto ml-md-auto">
      <button class="waves-effect btn grey darken-1 mt-4 mt-md-0"
              (click)="open()">
        Создать заказ
      </button>
    </div>

  </div>
</div>

<router-outlet></router-outlet>

<div #modal class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4 class="mb1">Новый заказ</h4>
    <table class="highlight">
      <thead>
      <tr>
        <th class="d-none d-sm-table-cell">
          Позиция
          <button class="btn waves-effect wavers-light btn-small mr-3"
                  (click)="addPosition()">
            <i class="material-icons">add</i>
          </button>
        </th>
        <th class="d-table-cell d-sm-none">Заказ</th>
        <th class="d-none d-sm-table-cell">Количество</th>
        <th class="d-table-cell d-sm-none">Кол-во</th>
        <th>Цена</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let position of modalOrderService.list">
        <td>
          <div class="input-field inline order-position-input" style="margin-bottom: -12px;">
            <textarea class="materialize-textarea" [(ngModel)]="position.name">
            </textarea>
            <span *ngIf="position.name.length < 5" class="helper-text red-text">
                Введите название
            </span>
          </div>
        </td>
        <td>
          <div class="input-field inline order-position-input">
            <input type="number" [(ngModel)]="position.quantity" (ngModelChange)="computeTotalPrice()">
            <span *ngIf="position.quantity === 0" class="helper-text red-text">
                Введите количество
            </span>
          </div>
        </td>
        <td>
          <div class="input-field inline order-position-input">
            <input type="number" [(ngModel)]="position.cost" (ngModelChange)="computeTotalPrice()">
            <span *ngIf="!position.cost" class="helper-text red-text">
                Введите цену заказа
            </span>
          </div>
        </td>
        <td>
          <i class="material-icons pointer" (click)="removePosition(position)">delete</i>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p> Общая стоимость
        <strong>
          {{ this.modalOrderService.list.length < 2 ? modalOrderService.list[0].cost * modalOrderService.list[0].quantity : totalOrderPrice }}
          ₽
        </strong>
      </p>
    </div>

    <div class="order-summary client">
      <p>
        Выберите клиента:
      </p>
    </div>

    <div class="old-client" *ngIf="!isNewClient">
      <div class="input-field col s12 w-100">
        <i class="material-icons prefix">account_box</i>
        <select id="select" #select [(ngModel)]="selectedClientId">
          <option *ngFor="let client of clients" [value]="client._id">
            {{ client.name + ' ' + client.surname }}, тел.: {{ client.phone }}
          </option>
        </select>
        <label for="select">Клиенты из базы</label>
      </div>
      <div class="input-field col s12 w-100">
        <i class="material-icons prefix">date_range</i>
        <input id="registrationDate" type="text" #dateRegister>
        <label for="registrationDate">Дата регистрации</label>
      </div>
      <div class="input-field col s12 w-100">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="textarea2" class="materialize-textarea" [(ngModel)]="comment"></textarea>
        <label for="textarea2">Комментарий к заказу</label>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="modal-action waves-effect waves-black btn-flat" type="button"
            [disabled]="pending"
            (click)="cancel()">
      Отмена
    </button>
    <button class="modal-action btn waves-effect" type="submit"
            (click)="submit()"
            [disabled]="pending || modalOrderService.list.length === 0 || !selectedClientId && form.invalid">
      Подтвердить
    </button>
  </div>
</div>
